// -------------------------------------
// Header
// -------------------------------------

a:hover {
  color: red !important;
}

a:focus {
  color: blue !important;
}

menu {
  .menu_bg {
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 300%;
    transform: rotate(-50deg);
    top: -150%;
    right: -90%;
    background-color: var(--color-header);
    border: 2px solid var(--color-header-border);
    transition: all 0.2s ease;

    &.true {
      transform: rotate(0deg);
      top: 0 !important;
      right: 0;
      width: 100%;
      height: 100%;
      border-color: var(--color-header);
    }

    .menu-conatiner {
      position: absolute;
      transform: translate(-50%,-50%);
      top: 50%;
      left: 50%;
      width: 100%;

      .menu-logo {
        max-width: 250px;
        margin: 0 auto;
        border-bottom: 10px solid var(--color-background);

        svg, g, path {
          fill: var(--color-background);
        }
      }

      .menu-content {
        text-align: center;

        .menu-item {
          display: block;
          color: var(--color-background);
          text-decoration: none;
          font-size: 18px;
          line-height: 20px;
          margin: 20px;
          transition: all .2s ease-in-out;

          &:hover {
            transform: scale(1.1);
            color: var(--color-font-highlighted) !important;
          }
        }
      }
    }
  }

  .menu_btn {
    display: block;
    z-index: 6;
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 28px;
    color: var(--color-background);
    cursor: pointer;
  }

  &.true {
    .menu_bg {
      height: 100%;
      transform: rotate(0deg);
      top: 0;
      right: 0;
    }

    .menu-conatiner {
      opacity: 1;
    }
  }

  &:not(.true) {
    .menu-conatiner {
      opacity: 0;
    }
  }
}

body.device {
  menu {
    .menu_btn {
      top: -webkit-calc(34pt + 20px);
      top: -moz-calc(34pt + 20px);
      top: calc(34pt + 20px);
    }

    .menu_bg {
      top: -webkit-calc(34pt - 150%);
      top: -moz-calc(34pt - 150%);
      top: calc(34pt - 150%);
    }
  }
}


