// -------------------------------------
// Footer
// -------------------------------------

.footer_bg {
  position: absolute;
  z-index: 5;
  width: 90%;
  height: 295%;
  transform: rotate(-50deg);
  bottom: -150%;
  left: -90%;
  background-color: var(--color-header);
  border: 2px solid var(--color-header-border);
  transition: all 0.2s ease;
}

.footer_bg2 {
  position: absolute;
  width: 100%;
  height: 300%;
  z-index: 1;
  transform: rotate(-50deg);
  bottom: -130%;
  left: -90%;
  background-color: var(--color-background2);
  transition: all 0.2s ease;
}

body.device {
  .footer_bg {
    bottom: -webkit-calc(34pt - 150%);
    bottom: -moz-calc(34pt - 150%);
    bottom: calc(34pt - 150%);
  }

  .footer_bg2 {
    bottom: -webkit-calc(34pt - 150%);
    bottom: -moz-calc(34pt - 150%);
    bottom: calc(34pt - 130%);
  }
}