// -------------------------------------
// Main
// -------------------------------------

.opener-title {
  position: relative;
  background-color: var(--color-databox-bg);
  color: var(--color-databox-font);
  //border-radius: 15px;
  max-width: 500px;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  display: block;

  svg {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
  }

  &.false {
    svg {
      transform: rotateX(180deg) translateY(50%);
    }
  }
}

.opener-holder {
  overflow: hidden;

  &.false {
    max-height: 0;
  }
}

.add-code-holder{
  overflow: hidden;

  &.false {
    max-height: 0;
  }
  &.true {
    padding: 0 20px 20px 20px;
  }
}

.subtitle {
  font-size: 20px;
  color: #6A6A6A;
  line-height: 20px;
  text-align: center;
}

.databox {
  background-color: var(--color-databox-bg);
  color: var(--color-databox-font);
  //border-radius: 15px;
  max-width: 500px;
  margin: 0 auto;
  padding: 0 10px;
  text-align: center;
  display: block;

  &.left {
    text-align: left;
  }

  &.big {
    padding: 10px;
  }
}

.decorator-line {
  width: 100%;
  height: 1px;
  background-color: var(--color-decorator-line);;
  margin: 10px 0;
}

.my-locations-list {
  .decorator:last-child{
    display: none;
  }
}

.map_marker {
  transform: translate(-50%, -100%);
  &:after {
    content: " ";
    width: 50px;
    height: 50px;
    background-color: red;
  }
}

.nice_job {
  width: 100%;
  max-width: 180px;
  margin: 20px;
}

.gm-style {
  button, .button, a.button {
    color: var(--color-button-text) !important;
    background-color: var(--color-input-focus-text) !important;
    border: 1px solid var(--color-button-border) !important;
    border-radius: $size-button-radius !important;
    text-decoration: none !important;
    font-weight: normal !important;
    font-size: $size-button-text !important;
    padding: 10px 20px !important;

    min-height: $size-button-min-height !important;

    &:hover:not(:disabled) {
      color: var(--color-button-hover-text) !important;
      background-color: var(--color-button-hover-bg) !important;
      border-color: var(--color-button-hover-border) !important;
    }

    &:active {
      color: var(--color-button-text) !important;
      background-color: var(--color-input-focus-text) !important;
      border-color: var(--color-button-border) !important;
    }

    &:disabled {
      opacity: 0.5 !important;
    }
  }
}

.gmnoprint {
  div {
    background-color: unset !important;
  }
}

.main_bg {
  position: absolute;
  width: 100%;
  height: 300%;
  z-index: 1;
  transform: rotate(-50deg);
  top: -130%;
  right: -90%;
  background-color: var(--color-background2);
  transition: all 0.2s ease;
}

main {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  overflow-y: auto;
  z-index: 2;
  transition: all .2s ease;
  max-width: 800px;
  margin: 0 auto;

  .content {
    position: absolute;
    top: 0;
    left: 20px;
    right: 20px;
    bottom: 0;
    display: flex;
  }

  &.indicator-on:not(.subtitle-on) {
    top: 310px;
  }

  &:not(.indicator-on).subtitle-on {
    top: 240px;
  }

  &.indicator-on.subtitle-on {
    top: 330px;
  }

}

body.device {
  .main {
    top: 34pt;
    bottom: 34pt
  }
}

@media (min-width: $screen-md) {
  main {
    top: 210px;

    &.indicator-on:not(.subtitle-on) {
      top: 310px;
    }

    &:not(.indicator-on).subtitle-on {
      top: 240px;
    }

    &.indicator-on.subtitle-on {
      top: 320px;
    }
  }

  body.device {
    main {
      top: -webkit-calc(34pt + 190px);
      top: -moz-calc(34pt + 190px);
      top: calc(34pt + 190px);

      &.indicator-on:not(.subtitle-on) {
        top: -webkit-calc(34pt + 310px);
        top: -moz-calc(34pt + 310px);
        top: calc(34pt + 310px);
      }

      &:not(.indicator-on).subtitle-on {
        top: -webkit-calc(34pt + 240px);
        top: -moz-calc(34pt + 240px);
        top: calc(34pt + 240px);
      }

      &.indicator-on.subtitle-on {
        top: -webkit-calc(34pt + 320px);
        top: -moz-calc(34pt + 320px);
        top: calc(34pt + 320px);
      }
    }
  }
}

@media (max-width: $screen-md) {
  main {
    top: 170px;

    &.indicator-on:not(.subtitle-on) {
      top: 240px;
    }

    &:not(.indicator-on).subtitle-on {
      top: 220px;
    }

    &.indicator-on.subtitle-on {
      top: 245px;
    }
  }

  body.device {
    main {
      top: -webkit-calc(34pt + 170px);
      top: -moz-calc(34pt + 170px);
      top: calc(34pt + 170px);

      &.indicator-on:not(.subtitle-on) {
        top: -webkit-calc(34pt + 240px);
        top: -moz-calc(34pt + 240px);
        top: calc(34pt + 240px);
      }

      &:not(.indicator-on).subtitle-on {
        top: -webkit-calc(34pt + 220px);
        top: -moz-calc(34pt + 220px);
        top: calc(34pt + 220px);
      }

      &.indicator-on.subtitle-on {
        top: -webkit-calc(34pt + 245px);
        top: -moz-calc(34pt + 245px);
        top: calc(34pt + 245px);
      }
    }
  }
}

@media (max-width: $screen-sm) {
  main {
    top: 140px;

    &.indicator-on:not(.subtitle-on) {
      top: 210px;
    }

    &:not(.indicator-on).subtitle-on {
      top: 210px;
    }

    &.indicator-on.subtitle-on {
      top: 220px;
    }
  }

  body.device {
    main {
      top: -webkit-calc(34pt + 140px);
      top: -moz-calc(34pt + 140px);
      top: calc(34pt + 140px);

      &.indicator-on:not(.subtitle-on) {
        top: -webkit-calc(34pt + 210px);
        top: -moz-calc(34pt + 210px);
        top: calc(34pt + 210px);
      }

      &:not(.indicator-on).subtitle-on {
        top: -webkit-calc(34pt + 190px);
        top: -moz-calc(34pt + 190px);
        top: calc(34pt + 190px);
      }

      &.indicator-on.subtitle-on {
        top: -webkit-calc(34pt + 220px);
        top: -moz-calc(34pt + 220px);
        top: calc(34pt + 220px);
      }
    }
  }
}