// -------------------------------------
// Scanner
// -------------------------------------

video {
  position: relative;
  width: 100%;
  min-height: 210px;
  max-width: 500px;
  margin: 0 auto;

  .loading-video-msg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  canvas {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
  }

  .output {
    text-align: center;
  }

}