// -------------------------------------
// Inidator
// -------------------------------------
.indicator-holder {
  transition: all 0.2s ease;
  transform: scale(0);

  &.active {
    transform: scale(1);
  }
}

.indicator {
  display: table;
  font-size: 12px;
  font-weight: normal;
  margin: 30px auto 30px auto;
  text-transform: uppercase;
  width: 100%;
  padding: 0;



  .disabled {
    background: #7C7C7C;
    color: #585858;
  }

  .active {
    background: #BCBCBC;
    color: #000000;
  }

  .finished {
    background: #CC0000;
    color: #000000;
  }

  .circle-contain, .line {
    display: table-cell;
  }

  .circle-contain {
    width: 1px;
    position: relative;
    text-align: center;
  }

  .label {
    display: block;
    position: absolute;
    white-space: nowrap;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: relative;
    top: 28px;
    margin: 10px;

    .count {
      position: relative;
      display: block;
      text-align: center;
      font-size: 16px;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .line {
    border-bottom: 1px solid #BCBCBC;
  }
}

@media (max-width: $screen-md) {
  .indicator {
    margin: -30px auto 30px auto;
    .circle-contain .label {
      display: none;
    }

    .line.middle {
      width: 20px;
    }
  }

}

@media (max-width: $screen-sm) {
  .indicator {
    .line.middle {
      width: 10px;
    }
  }
}
