// -------------------------------------
// Header
// -------------------------------------

a:hover {
  color: red !important;
}

a:focus {
  color: blue !important;
}

header {
  position: absolute;
  z-index: 3;
  left: 0;
  right: 0;
  top: 0;
  background-color: var(--color-background);

  .header_content {
    margin: 10px;
  }

  .header-logo {
    padding: 20px 20px 0 20px;
  }

  .logo {
    max-width: 180px;
  }

  .wrapper {
    margin: 0;
    padding: 20px;
  }

  .title {
    font-size: 50px;
    color: var(--color-font-default);
    line-height: 50px;
  }

  .subtitle {
    font-size: 20px;
    color: #6A6A6A;
    line-height: 20px;
    text-align: center;
  }
}

body.device {
  header {
    top: 34pt;
  }
}

@media (max-width: $screen-xl) {
  header {
    .logo {
      max-width: 200px;
    }
  }
}

@media (max-width: $screen-lg) {
  header {
    .logo {
      max-width: 200px;
    }
  }
}

@media (max-width: $screen-md) {
  header {
    .logo {
      max-width: 180px;
    }

  }
}

@media (max-width: $screen-sm) {
  header {
    .logo {
      max-width: 160px;
    }

    .title {
      font-size: 35px;
      line-height: 35px;
    }
  }
}

