.draggable-content {
  background-color: var(--color-background);
  padding-top: 30px;
  position: relative;
  //border-color: var(--color-header-border);
  //border-top: 1px solid;
  box-shadow: 0px -10px 10px black;
}

.draggable-draggable-draggable {
  background-color: var(--color-font-default) !important;
}

.SwipeAction-content {
  position: relative;
  overflow: visible !important;
  padding-right: 30px;
  background-color: var(--color-background);
  box-shadow: 10px 0 10px black;
}

.SwipeAction-draggable-draggable {
  background-color: var(--color-font-default) !important;
}

