// ---------------------------
// animations
// ---------------------------

@keyframes menu-in {
  0% {
    left: 250%;
  }
  100% {
    left: 50%;
  }
}

@keyframes menu-in-back {
  0% {
    left: -250%;
  }
  100% {
    left: 50%;
  }
}

@keyframes menu-out {
  0% {
    left: 50%;
  }
  100% {
    left: -250%;
  }
}

@keyframes menu-out-back {
  0% {
    left: 50%;
  }
  100% {
    left: 250%;
  }
}

.anim-content {
  transform: translateX(-50%);
  width: 100%;

  &.active:not(.back) {
    animation: menu-in 0.5s ease-in-out;
    left: 50%;
  }

  &.active.back {
    animation: menu-in-back 0.5s ease-in-out;
    left: 50%;
  }

  &:not(.active):not(.back).forward {
    animation: menu-out 0.5s ease-in-out;
    left: -250%;
  }

  &:not(.active):not(.back):not(.forward) {
    left: -250%;
  }

  &:not(.active).back {
    animation: menu-out-back 0.5s ease-in-out;
    left: 250%;
  }
}

.fade-appear,
.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-appear-active,
.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms linear 150ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0;
  transition: opacity 150ms linear;
}