body {
    font-family: $font-family;
}

.container {
    align-items: center;
    display: flex;
    flex-flow: column;
    height: 100vh;        
    justify-content: center;
}

.v-middle {
    display: flex;
    align-items: center;
    justify-content: center;
}