// -------------------------------------
// Colors
// -------------------------------------

$color-background: #2E2A2A;
$color-background2: #404040;
$color-header: #CC0000;
$color-header-border: #ffffff;
$color-header-after-bg: #403939;


$color-font-default: #AFAFAF;

// Input colors
$color-input-text: #AFAFAF;
$color-input-bg: unset;
$color-input-border: #AFAFAF;

$color-input-focus-text: #FFFFFF;
$color-input-focus-bg: unset;
$color-input-focus-border: #FFFFFF;

$color-inpud-selection-text: #ff0000;
$color-inpud-selection-bg: #ffffff;

$color-input-error-text: #ff0000;

// Button colors
$color-button-text: #AFAFAF;
$color-button-bg: unset;
$color-button-border: #AFAFAF;

$color-button-hover-text: #ffffff;
$color-button-hover-bg: #CC0000;
$color-button-hover-border: #CC0000;

$color-green: #04c912;

$color-gray1: #fafafa;
$color-gray2: #f3f3f2;
$color-gray3: #e7e7e6;
$color-gray4: #cfcfcd;
$color-gray5: #bfbfbd;
$color-gray6: #a9a8a4;
$color-gray7: #838181;
$color-gray8: #120e03;

$color-white: #ffffff;
$color-black: #000000;
