// -------------------------------------
// Fonts
// -------------------------------------

$fontstack-main: ("Open Sans", "Helvetica", "Arial", sans-serif);
$fontstack-alt: ("Spectral", "Georgia", "Times", serif);

@function font($color, $font-size, $line-height, $font-weight, $text-transform) {
  $_color: unset;
  $_font_size: unset;
  $_line_height: unset;
  $_font_weight: unset;
  $_text_transform: unset;

  @if $color {
    $_color: $color;
  }
  @if $font-size {
    $_font_size: $font-size;
  }
  @if $line-height {
    $_line_height: $line-height;
  }
  @if $font-weight {
    $_font_weight: $font-weight;
  }
  @if $text-transform {
    $_text_transform: $text-transform;
  }
}

