// -------------------------------------
// Media queries
// -------------------------------------

// Breakpoints
$screen-sm: 425px;
$screen-md: 768px;
$screen-lg: 1024px;
$screen-xl: 1440px;

// Set the number of columns
$grid-columns: 12 !default;

// Set the gutter between columns.
$gutter-width: 16px !default;

// Set a margin for the container sides.
$outer-margin: 16px !default;

// Create or remove breakpoints
$flexboxgrid-max-width: unset !default;

// Page wrapper
$page-wrapper-max-widht: 1600px;
// Containers
$containers-max-width: 1024px;

// Inputs
$size-input-text: 16px;

// Buttons
$size-button-text: 16px;
$size-button-min-height: unset;
$size-button-radius: 20px;