// -------------------------------------
// Body
// -------------------------------------

body {
  margin: 0;
  padding: 0;
  background-image: url('../images/map_bg.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  color: var(--color-font-default);
  font-size: pxtorem(16px);
  overflow: hidden;
  overflow-y: scroll;
  user-select: none;
  touch-action: none;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}
#app {
  background-color: var(--color-background);
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 50%;
  width: 100%;
  max-width: 500px;
  height: 100%;
  display: block;
  transform: translateX(-50%);
  box-shadow: 10px 0 40px black;
}
#app-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;

  &.isDarlmodetrue {
    background-color: #000000;
  }
  &.isDarlmodefalse {
    background-color: #e1e1e1;
  }
}

.pac-container {
  background-color: var(--color-background2);
  position: absolute!important;
  z-index: 1000;
  border-radius: 2px;
  border-top: 1px solid #d9d9d9;
  font-family: Arial,sans-serif;
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;

  &:after {
    display: none !important;
  }

  .pac-item {
    cursor: default;
    padding: 0 4px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    line-height: 30px;
    text-align: left;
    border-top: 1px solid #e6e6e6;
    font-size: 11px;
    color: var(--color-font-default);

    .pac-item-query {
      font-size: 13px;
      padding-right: 3px;
      color: var(--color-inpud-selection-text);

      .pac-matched {
        font-weight: 700;
      }
    }
  }
}

@keyframes anime1 {
  0% {
    width: 112px;
    height: 48px;
    margin-top: 64px;
    margin-left: 0;
  }

  12.5% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 0;
  }

  25% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 0;
  }

  37.5% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 0;
  }

  50% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 0px;
  }

  62.5% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 0;
  }

  75% {
    width: 48px;
    height: 112px;
    margin-top: 0;
    margin-left: 0;
  }

  87.5% {
    width: 48px;
    height: 48px;
    margin-top: 0;
    margin-left: 0;
  }

  100% {
    width: 48px;
    height: 48px;
    margin-top: 0;
    margin-left: 0;

  }
}

@keyframes anime2 {
  0% {
    width: 48px;
    height: 48px;
    margin-top: 0;
    margin-left: 0;
  }

  12.5% {
    width: 48px;
    height: 48px;
    margin-top: 0;
    margin-left: 0;
  }

  25% {
    width: 48px;
    height: 48px;
    margin-top: 0;
    margin-left: 0;
  }

  37.5% {
    width: 48px;
    height: 48px;
    margin-top: 0;
    margin-left: 0;
  }

  50% {
    width: 112px;
    height: 48px;
    margin-top: 0;
    margin-left: 0;
  }

  62.5% {
    width: 48px;
    height: 48px;
    margin-top: 0;
    margin-left: 64px;
  }

  75% {
    width: 48px;
    height: 48px;
    margin-top: 0;
    margin-left: 64px;
  }

  87.5% {
    width: 48px;
    height: 48px;
    margin-top: 0;
    margin-left: 64px;
  }

  100% {
    width: 48px;
    height: 48px;
    margin-top: 0;
    margin-left: 64px;
  }
}

@keyframes anime3 {
  0% {
    width: 48px;
    height: 48px;
    margin-top: 0;
    margin-left: 64px;
  }

  12.5% {
    width: 48px;
    height: 48px;
    margin-top: 0;
    margin-left: 64px;
  }

  25% {
    width: 48px;
    height: 112px;
    margin-top: 0;
    margin-left: 64px;
  }

  37.5% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 64px;
  }

  50% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 64px;
  }

  62.5% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 64px;
  }

  75% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 64px;
  }

  87.5% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 64px;
  }

  100% {
    width: 112px;
    height: 48px;
    margin-top: 64px;
    margin-left: 0px;
  }
}

$timeFunction: ease-in-out;
$duration: 4s;
$delay: 0s;

.page-loader {
  position: absolute;
  z-index: 20;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0, 0.5);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease-in-out;

  &.active {
    opacity: 1;
    pointer-events: auto;
}

  .container {
    width: 112px;
    height: 112px;
    margin: -34px 0px 0px -34px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .box1, .box2, .box3 {
      border: 16px solid var(--color-input-text);
      box-sizing: border-box;
      position: absolute;
      display: block;
    }

    .box1 {
      width: 112px;
      height: 48px;
      margin-top: 64px;
      margin-left: 0;
      animation: anime1 $duration $delay forwards $timeFunction infinite;
    }

    .box2 {
      width: 48px;
      height: 48px;
      margin-top: 0;
      margin-left: 0;
      animation: anime2 $duration $delay forwards $timeFunction infinite;
    }

    .box3 {
      width: 48px;
      height: 48px;
      margin-top: 0;
      margin-left: 64px;
      animation: anime3 $duration $delay forwards $timeFunction infinite;
    }
  }

}
