// -------------------------------------
// Inputs
// -------------------------------------

*:focus {
  outline: none;
}

input, select, textarea {
  caret-color: var(--color-input-focus-text);
  color: var(--color-input-text);
  background-color: var(--color-input-bg);
  border: solid var(--color-input-border);
  border-width: 0 0 1px 0;
  text-decoration: none;
  font-weight: normal;
  font-size: $size-input-text;
  padding: 5px 10px 5px 10px;

  &:hover {
  }

  &::selection {
    color: var(--color-inpud-selection-text);
    background-color: var(--color-input-bg);
  }

  &:focus {
    color: var(--color-input-focus-text);
    background-color: var(--color-input-focus-bg);
    border-color: var(--color-input-focus-border);
  }

  &.full-width {
    width: -webkit-fill-available;
  }
}

.validate-error {
  font-size: 14px;
  line-height: 20px;
  font-style: italic;
  padding-left: 10px;
  color: var(--color-input-error-text);
}

.emergencyinfo-input {
  height: 100px;
}
