// -------------------------------------
// Body
// -------------------------------------

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.blink {
  animation: blinker 1s linear infinite;
}

.full-width {
  width: -webkit-fill-available;
}

.highlighted {
  color: var(--color-font-highlighted) !important;
}

.small-title {
  color: var(--color-font-default);
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
}

.no-paddign {
  padding: 0 !important;

  &-left {
    padding-left: 0 !important;
  }
  &-right {
    padding-left: 0 !important;
  }
  &-top {
    padding-left: 0 !important;
  }
  &-bottom {
    padding-left: 0 !important;
  }
}

.no-margin {
  margin: 0 !important;

  &-left {
    margin-left: 0 !important;
  }
  &-right {
    margin-left: 0 !important;
  }
  &-top {
    margin-left: 0 !important;
  }
  &-bottom {
    margin-left: 0 !important;
  }
}

.separator {
  display: table;
  font-size: 12px;
  font-weight: normal;
  margin: 0 auto 20px auto;
  text-transform: uppercase;
  width: 100%;
  padding: 0;
  color: var(--color-font-default);

  .line, .label {
    display: table-cell;
  }

  .label {
    width: 50px;
    text-align: center;
    position: relative;

    span {
      display: block;
      position: absolute;
      transform: translate(-50%,-50%);
      top: 100%;
      left: 50%;
    }
  }

  .line {
    border-bottom: 1px solid var(--color-font-default);
  }
}


.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
  justify-content: flex-end !important;
}

.text-italic {
  font-style: italic;
}

.text-small {
  font-size: 14px;
}

.notification {
  z-index: 50;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.5);
  transition: all 0.5s ease-in-out;

  opacity: 0;

  .notification-window {
    z-index: 51;
    position: absolute;
    transform: translate(-50%,-50%);
    top: -150%;
    left: 50%;
    padding: 20px;
    background-color: rgba(var(--color-background2-rgb),0.5);
    color: $color-white;
    border-radius: 20px;
    text-align: center;
    min-width: 250px;
    //border: 1px solid $color-white;

    transition: all 0.5s ease-in-out;

    -webkit-box-shadow: 0 0 40px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0 0 40px 1px rgba(0,0,0,0.75);
    box-shadow: 0 0 40px 1px rgba(0,0,0,0.75);

    .notification-text {
      margin-bottom: 20px;
      white-space: pre-wrap;
    }
  }

  &.error {
    .notification-window {
      background-color: rgba(var(--color-input-error-text-rgb),0.5);
    }
  }


  &.active {
    opacity: 1;

    .notification-window {
      top: 50%;
    }
  }

  &:not(.active) {
    pointer-events: none;
  }
}

.notification-cell {
  font-size: 11px;
  color: $color-white;
  background-color: rgba(var(--color-input-error-text-rgb),0.3);
  border: solid 1px rgba(var(--color-input-error-text-rgb),0.5);

  svg {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.hidden {
  display: none;
}