// -------------------------------------
// Margins
// -------------------------------------

/**
 * Unidirectional margins
 * Remove all top margins and normalise bottom margins
*/

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
figure,
ul,
ol,
dl,
address {
  margin-top: 0;
  margin-bottom: pxtorem(24px);
}

//header, main {
//  padding: 20px;
//}
//
//main {
//  position: relative;
//  z-index: 2;
//  margin-top: 200px;
//}
//
//@media (max-width: $screen-xl) {
//  main {
//    margin-top: 190px;
//  }
//}
//
//@media (max-width: $screen-md) {
//  main {
//    margin-top: 170px;
//  }
//}
//
//@media (max-width: $screen-sm) {
//  main {
//    margin-top: 140px;
//  }
//}

