// -------------------------------------
// Buttons
// -------------------------------------

button, .button {
  color: var(--color-button-text);
  background-color: var(--color-button-bg);
  border: 1px solid var(--color-button-border);
  border-radius: $size-button-radius;
  text-decoration: none;
  font-weight: normal;
  font-size: $size-button-text;
  padding: 10px 20px;

  min-height: $size-button-min-height;

  svg {
    margin-right: 10px;
  }

  &:hover:not(:disabled) {
    color: var(--color-button-hover-text) !important;
    background-color: var(--color-button-hover-bg);
    border-color: var(--color-button-hover-border);
  }

  &:disabled {
    opacity: 0.5;
  }

  &.red {
    background-color: rgba(var(--color-button-hover-bg-rgb), 0.3);
    border-color: rgba(var(--color-button-hover-bg-rgb), 0.6);
  }

  &.green {
    background-color: rgba($color-green, 0.3);
    border-color: rgba($color-green, 0.6);
  }

  &.row-button {
    height: 100% !important;
    border-radius: 0 !important;
  }

  &.icon {
    width: 42px !important;
    padding: 11px !important;
    margin: 10px;
    position: relative;
    margin-bottom: 30px;

    .btn-title {
      position: absolute;
      bottom: -30px;
      left: 50%;
      font-size: 10px;
      text-transform: uppercase;
      transform: translateX(-50%);
    }
  }
}

a.button {
  display: block;
  width: auto;
  text-align: center;
}