// -------------------------------------
// Links
// -------------------------------------

a {
  color: var(--color-button-hover-text);
  text-decoration: underline;

  &:hover {
    color: var(--color-button-hover-text);
    text-decoration: none;
  }
}

// -------------------------------------
// Links in titles
// -------------------------------------

h1,
h2,
h3,
h4,
h5,
h6 {
  & > a {
    color: inherit;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
  }
  & > a:hover {
    color: var(--color-button-hover-text);
    text-decoration: none;
  }
}
